@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
i {
    color: black;
    font-size: 25px;
}
.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    width: 450px;
    border: 1px solid yellow;
}
.post-header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 10px;
}
.phead-1 {
    display: flex;
}
.phead-1 #ph1 {
    margin: auto 12%;
}
.phead-1 #ph2 {
    display: flex;
    flex-direction: column;
}
.phead-2 {
    display: flex;
    flex-direction: column;
}
.post-img img {
    width: 100%;
}
.post-body {
    padding: 15px;
}
.post-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.icn-1 i {
    padding: 2px;
}